.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.avatar > img {
    border: 4px solid rgba(215, 227, 224, 0.5);
    box-shadow: 0 4px 12px 6px rgba(0, 0, 0, 0.25);
}
