.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 10px;
    gap: 5px;
    overflow: hidden;
    font-size: 16px;
}

.wrapper > * {
    width: 250px;
    padding: 10px;
}

.education > p {
    padding: 5px 0 0 12px;
}

.socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
