@import url("https://fonts.googleapis.com/css2?family=Inter&family=Nunito:wght@900&display=swap");

.wrapper {
    cursor: pointer;
}

.navigation {
    flex: 1 0 auto;
}

.navigation > ul {
    margin-left: 10vw;
    display: flex;
    gap: 20px;
}

.navigation > ul > li > a {
    font-size: 20px;
    color: #ffffff;
    transition-duration: 0.3s;
}

.navItem {
    position: relative;
    transition-duration: 0.3s;
}

.navItem::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.4s;
}

.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.4s;
}

.button_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.avatar {
    border: 3px solid #ffffff !important;
    cursor: pointer;
}
