.die {
    position: absolute;
    margin-top: 40px;
    width: 100%;
    height: calc(100% - 40px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 12;
}

.content {
    flex: 1 0 auto;
}
