@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 550px;
}

a {
    color: #000;
}

ul,
ol {
    list-style: none;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #989898;
    border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #7c7c7c;
}

body::-webkit-scrollbar-track {
    background-color: #dcdcdc;
}
