.signup > h1 {
    position: relative;
    text-align: center;
    margin: 75px 0 50px 0;
}

.form_wrap {
    position: relative;
    display: flex;
    width: 320px;
    margin: auto;
    padding: 20px 0;
    background: rgba(10, 110, 154, 0.3);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: -30px;
}

form input,
select {
    display: block;
    width: 190px;
    height: 26px;
    background: #ffffff;
    border: 2px solid rgba(62, 62, 62, 0.76);
    border-radius: 7px;
    padding: 0 10px;
}

 .checkbox{
    display:inline-block;
    vertical-align: middle;
    width: 25px;
    margin-left: 20px;
}

form .error {
    position: absolute;
    font-size: 12px;
    color: rgba(205, 1, 1, 0.76);
}

.input_wrap {
    display: block;
    margin: 15px;
}

.form_wrap button {
    display: block;
    justify-content: center;
    width: 100px;
    height: 28px;
    margin: auto;
    margin-top: 20px;
    padding: 4px 8px;
    position: relative;
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #0a6e9a;
    border-radius: 400px;
    cursor: pointer;
    font-family: "Inter";
    font-size: 14px;
    line-height: 20px;
    transition-duration: 0.3s;
}

.form_wrap button:hover {
    background: #0a6e9a;
    color: #ffffff;
}
.or {
    display: grid;
    margin: 15px 0;
    grid-template-columns: 80px max-content 80px;
    grid-column-gap: 20px;
    align-items: center;
}
.signin_form_elem {
    text-decoration-line: underline;
    cursor: pointer;
    display: inline;
    cursor: pointer;
    color: #3e3e3e;
    font-weight: 600;
}
.or::before,
.or::after {
    content: "";
    display: block;
    height: 0.5px;
    background-color: currentColor;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
}

button:disabled,
button[disabled]:hover {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: #0a6e9a;
}
