.wrapper {
    position: relative;
    top: 35%;
    margin: 0 auto;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    outline: 2px solid rgba(215, 227, 224, 0.5);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    color: #fff;
    font-weight: normal;
    line-height: 20px;
    object-fit: cover;
}
